{% extends "base.html" %}
{% block content %}
<h1>Payment Submit</h1>
<form id="form" action={{ form_attrs["url"] }} method={{ form_attrs["method"] }} name={{ form_attrs["name"] }}>
    {% for key, value in template_attrs.items() %}
        <input {% if form_attrs["input_type"] %} type={{ form_attrs["input_type"] }} {% endif %} name={{ key }} value={{ value }} />
    {% endfor %}
    <input type="submit"/>
</form>
<script>
    document.getElementById("form").submit();
</script>
{% endblock %}