{% extends "base.html" %}
{% block content %}
<h1>Payment</h1>
<form action="" method="post" name="/payment">
    <p>
        <label for="amount">Payment amount: </label>
            <input type="float" name="amount" required=true, pattern="[0-9]*.[0-9]{2}" placeholder="1.32">
    </p>
    <p>
        <label for="currency">Payment currency:</label>
            <select id="currency" name="currency" required=true>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="RUB">RUB</option>
            </select>
    </p>
    <p>
        <label for="description">Purchase description: </label>
    </p>
    <textarea name="description" rows="3" cols="50" placeholder="Please describe your purchase."></textarea>
    <p><input type="submit" value="Confirm payment"></p>
</form>
{% endblock %}
